# Set default behavior to automatically normalize line endings.
* text=auto

# Explicitly declare text files we want to always be normalized.
*.js text
*.css text
*.html text
*.json text

# Declare binary files to be left untouched.
*.png binary
*.jpg binary
*.gif binary
*.exe binary
